#!groovy

import jenkins.model.*
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.common.*
import com.cloudbees.plugins.credentials.domains.*
import com.cloudbees.plugins.credentials.impl.*
import com.cloudbees.jenkins.plugins.sshcredentials.impl.*
import hudson.plugins.sshslaves.*;

domain = com.cloudbees.plugins.credentials.domains.Domain.global()
store = Jenkins.instance.getExtensionList('com.cloudbees.plugins.credentials.SystemCredentialsProvider')[0].getStore()


def addAwsCredentials(id, accessKey, secretKey, description) {
    c = new com.cloudbees.jenkins.plugins.awscredentials.AWSCredentialsImpl(
        com.cloudbees.plugins.credentials.CredentialsScope.GLOBAL,
        id,
        accessKey,
        secretKey,
        description,
        '',
        ''
    )
}

{% for secret in cc_jenkins_custom_aws_credentials.iteritems() %}
store.addCredentials(domain, addAwsCredentials('{{ secret[1]['id'] }}', '{{ secret[1]['accessKey'] }}', '{{ secret[1]['secretKey'] }}', '{{ secret[1]['description'] }}'))
{% endfor %}
