#!groovy
// Reference: https://gist.github.com/iocanel/9de5c976cc0bd5011653

// TODO: Add ability to add SSH keys (see link above)

import jenkins.model.*
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.common.*
import com.cloudbees.plugins.credentials.domains.*
import com.cloudbees.plugins.credentials.impl.*
import com.cloudbees.jenkins.plugins.sshcredentials.impl.*
import hudson.plugins.sshslaves.*;

domain = Domain.global()
store = Jenkins.instance.getExtensionList('com.cloudbees.plugins.credentials.SystemCredentialsProvider')[0].getStore()

def addPassCredentials(name, id, username, password) {
    usernameAndPassword = new UsernamePasswordCredentialsImpl(
    CredentialsScope.GLOBAL,
    name, id,
    username,
    password
    )
}

{% for secret in cc_jenkins_credentials.iteritems() %}
store.addCredentials(domain, addPassCredentials('{{ secret[1]['id'] }}', '{{ secret[1]['description'] }}', '{{ secret[1]['username'] }}', '{{ secret[1]['secret'] }}'))
{% endfor %}
